@import "./reset/reset";

$default-padding: 13.333px;
$double-padding: 26.666px;
$default-margin: 13.333px;
$teal: rgb(00, 150, 136);
$slate: rgb(38, 50, 56);
$transition-time: .5s;

body {
    background-color: $slate;
}

header {
    background-color: white;
    padding: $default-padding;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo-container {
        width: 33.33%;
        img {
            height: 61px;
        }
    }
    i.mobile-menu {
        display: none;
    }
    nav {
        width: 66.66%;
        text-align: right;
        position: relative;
        ul {
            animation: none;
        }
        
        li {
            color: black;
            font-size: 14pt;
            margin: 0 10px;
            display: inline;
        }
        li:hover, li:active {
            color: $teal;
        }
    }    
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 100%;
    }
    h1 {
        position: absolute;
        font-size: 48pt;
        padding-left: $default-padding;
        text-shadow: 0px 0px 5px black;
        color: white;
    }
}

.team-image-container {
    display: flex;
    background-color: white;
    padding-right: $default-padding;
}

.team-image {
    width: 33.33%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: $default-margin 0 $default-margin $default-margin;
    img {
        width: 100%;
    }
}

.team-image > div {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 65%;
    overflow: hidden;
    display: flex;
    transition: $transition-time;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    h2, h3, p {
        position: relative;
        text-align: right;
        color: white;
    }
    h2 {
        font-weight: 700;
        font-size: 36pt;
        margin-bottom: -.4em;
        text-transform: uppercase;
    }
    h3 {
        text-transform: lowercase;
        font-size: 18pt;
    }
    .job-description {
        opacity: 0;
        font-size: 12pt;
        line-height: 18pt;
        padding: $double-padding $default-padding $default-padding $default-padding;
        transition: $transition-time;
        text-align: left;
        max-width: calc(100% - 26.666px);
    }
}

.team-image > div::before {
    content: '';
    position: absolute;
    transition: $transition-time;
    background-color: black;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.team-image:hover, .team-image:active {
    div {
        top: 17.8%;
    }
    div::before {
        opacity: .6;
    }
    .job-description {
        opacity: 1;
    }
}

.learn-more {
    padding: $default-padding;
    background-color: white;
    color: black;
    p {
        display: inline;
        text-decoration: underline;
        cursor: pointer;
    }
}

.learn-more:hover, .learn-more:active {
    color: $teal;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: $default-padding;
    background-color: $slate;
    margin-bottom: 100px;
    .media-icons {
        position: absolute;
        right: $default-margin;
        color: white;
        font-size: 24pt;
        i:hover, i:active {
            color: $teal;
        }
    }
}

/* Styles For Mobile View */

@media screen and (max-width: 650px) {
    header {
        padding: 0;
        flex-direction: column;
        align-items: center;
        .logo-container {
            width: unset;
            align-items: center;
            display: flex;
            img {
                padding: $default-padding;
            }
        }

        i.mobile-menu {
            display: inline;
            position: absolute;
            font-size: 30pt;
            right: $default-margin;
            top: 24.328px;
        }

        nav {
            width: 100%;
            position: absolute;
            top: 87.66px;
            height: 157.969px;
            z-index: 1;
            overflow: hidden;
            ul {
                top: -100%;
                position: absolute;
                height: 0;
                transition: $transition-time;
                li {
                    display: block;
                    background-color: white;
                    width: 100vw;
                    padding: $default-padding;
                    margin: 0;
                    text-align: center;
                    border-top: 1px solid black;
                }
                li:last-child {
                    border-bottom: 1px solid black;
                }
            }
        }
    }

    .banner {
        height: 157.969px - $default-padding;
        background-image: url(../images/banner.png);
        background-size: cover;
        background-position: center;
        img {
            display: none;
        }
        h1 {
            font-size: 30pt;
        }
    }
    
    .team-image-container {
        flex-direction: column;
    }

    .team-image {
        width: unset;
    }

    footer {
        flex-direction: column;
        .media-icons {
            position: relative;
            margin-top: .5em;
        }
    }
}

/* Animations For Opening And Closing the Mobile Menu */

@keyframes open {
    from {top: -100%}
    to {top: 0}
}

@keyframes collapse {
    from {top: 0}
    to {top: -100%}
}