// Spacing and Formatting 

$default-padding: 13.333px;
$double-padding: 26.666px;
$default-margin: 13.333px;

// Colors 

$teal: rgb(00, 150, 136);
$slate: rgb(38, 50, 56);

$selection-foreground: $slate;
$selection-background: $teal;

$black: #000;
$white: #fff;
$red: #f00;
$blue: #00f;

// Transition Time

$transition-time: .5s;
