.contact {

   .form {

      text-align: center;

      li {
         display: flex;
         flex-direction: column-reverse;
         margin: 1rem 0;
      }

      label,
      input[type=text],
      textarea {
         display: block;
         text-align: left;
         width: 87.5%;
         margin: auto;
      }

      label {
         padding: 1rem 0;
         transition: all .5s;
         color: $teal;
      }

      input[type=text] {
         padding: 0 .5rem .5rem .5rem;
         border: none;
         transition: border-bottom .3s;
         background-color: transparent;
         color: white;
         resize: none;
         border-bottom: 3px solid dimgrey;
         overflow: hidden;
      }

      input[type=text]:focus {
         outline: none;
         border-bottom: 3px solid $teal;
      }

      input[type=text]:placeholder-shown ~ label {
         visibility: hidden;
         opacity: 0;
         transform: translateY(75%);
         color: dimgrey;
      }

      input[type=submit],
      input[type=submit]:hover,
      input[type=submit]:active {
         width: 100px;
         align-self: center;
         color: white;
         background-color: $teal;
         padding: 1rem 3rem;
         margin: 1rem;
         border: none;
         outline: none;
         border-radius: 3px;
      }

      input[type=submit]:hover {
         background-color: lighten($color: $teal, $amount: 5)
      }
   }
}