/* Reseting Margins, Fonts, and Base Styles for Entire Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-weight: normal;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

i {
    cursor: pointer;
}

